<div class="uk-branch">
    <p class="location-address-paragraph">Żydowska 1<span>61-761 Poznań</p>
    <p class="see-location" id="toogle-poznan-location-mobile"><span class="see-location-icon"></span>{{'_SEE_LOCATION_' | trans}}</p>
    <div class="contact-person-section">                   
        <div class="vertical-paragraph-box">
            <p class="vertical-paragraph-big">{{'_CONTACT_GENERAL_' | trans}}</p>
            <p class="vertical-paragraph-small">{{'_CONTACT_MANAGER_' | trans}}</p>
        </div>
        <div class="contact-person-box"> 
            <p class="contact-person-name">RAFAŁ GADOMSKI</p>
            <p class="contact-person-phone">+48 503 193 554</p>
            <p class="contact-person-mail"><a href="mailto:rafal@advox.pl">rafal@advox.pl</a></p>
        </div>
    </div>   
</div>