<div class="branch-box de-branch" data-branchboxid="2">
    <div class="center-test">
        <p class="location-address-paragraph">Mombacher Str. 52 ,<span>55122 Mainz</span></p>
        <p class="see-location" id="toogle-mainz-location"><span class="see-location-icon"></span>{{'_SEE_LOCATION_' | trans}}</p>
        <div class="contact-person-section">
            <div class="vertical-paragraph-box">
                <p class="vertical-paragraph-big">{{'_COUNTRY_MANAGER_1_' | trans}}</p>
                <p class="vertical-paragraph-small">{{'_COUNTRY_MANAGER_2_' | trans}}</p>
            </div>
            <div class="contact-person-box">
                <p class="contact-person-name">FABIAN PREGEL</p>
                <p class="contact-person-phone">+49 178 274 61 50</p>
                <p class="contact-person-mail"><a href="mailto:rafal@advox.pl">rafal@advox.pl</a></p>
            </div>
        </div>
    </div>
</div>