<div class="pl-branch">
    <p class="location-address-paragraph">Second Floor, TechHub @ Google Campus 4-5 Bonhill Street,<span><br>EC2A 4BX London</span></p>
    <p class="see-location" id="toogle-london-location-mobile"><span class="see-location-icon"></span>{{'_SEE_LOCATION_' | trans}}</p>
    <div class="contact-person-section">                   
        <div class="vertical-paragraph-box">
            <p class="vertical-paragraph-big">{{'_COUNTRY_MANAGER_1_' | trans}}</p>
            <p class="vertical-paragraph-small">{{'_COUNTRY_MANAGER_2_' | trans}}</p>
        </div>
        <div class="contact-person-box">
            <p class="contact-person-name">RAVI SHARMA</p>
            <p class="contact-person-phone">+44 (0) 77 1594 8656</p>
            <p class="contact-person-mail"><a href="mailto:ravi@advoxstudio.co.uk">ravi@advoxstudio.co.uk</a></p>
        </div>
    </div>  
</div>