<div class="static-background-element single-news-element-1">
    <img src="/images/svg/joboffersvgs/frontenddeveloper/element_1_fed.svg" alt="{{ '_SINGLE_NEWS_IMAGE_ALT_' | trans }}"/>
</div>
<div class="static-background-element single-news-element-2">
    <img src="/images/svg/joboffersvgs/seniorphpdeveloper/element_6_spd.svg" alt="{{ '_SINGLE_NEWS_IMAGE_ALT_' | trans }}"/>
</div>
<div class="static-background-element single-news-element-3">
    <img src="/images/svg/joboffersvgs/seniorphpdeveloper/element_5_spd.svg" alt="{{ '_SINGLE_NEWS_IMAGE_ALT_' | trans }}"/>
</div>